node_modules
dist
*.tsbuildinfo
.env
server/conversations
server/data

# Android build outputs
android/app/build
android/.gradle
android/build
android/local.properties
android/capacitor-cordova-android-plugins
*.jks
*.keystore
